In [1]:
# Задание 1
#Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
#- оценка 2 и меньше - низкий рейтинг
#- оценка 4 и меньше - средний рейтинг
#- оценка 4.5 и 5 - высокий рейтинг
#Результат классификации запишите в столбец class
import pandas as pd

In [94]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
films = ratings.merge(movies, on='movieId', how='left')

def Class(row):
    if ( row['rating']== 2.0 or  row['rating'] < 2.0):
        return 'низкий рейтинг'
    if ( row['rating']== 4.0 or (row['rating']>2.0 and row['rating']<4.0)):
        return 'средний рейтинг'
    if ( row['rating']== 5.0 or row['rating']==4.5):
        return 'высокий рейтинг'
films['Class'] = films.apply(Class, axis=1)    
films.head()

,userId,movieId,rating,timestamp,title,genres,Class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,средний рейтинг
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,высокий рейтинг
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,высокий рейтинг

In [95]:
films.Class.value_counts()

средний рейтинг    65551
высокий рейтинг    21762
низкий рейтинг     13523
Name: Class, dtype: int64

In [99]:
#Используем файл keywords.csv.
#Необходимо написать гео-классификатор,
#который каждой строке сможет выставить географическую принадлежность
#определенному региону. 
geo = pd.read_csv('keywords.csv')
geo.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [110]:
geo = pd.read_csv('keywords.csv')
def region(column):
    if 'москва' in column['keyword'] or 'тула'in column['keyword'] or  'ярославль'in column['keyword']:
        return 'Центр'
    elif 'петербург' in column['keyword'] or 'псков'in column['keyword'] or  'мурманск'in column['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in column['keyword'] or 'сахалин'in column['keyword'] or  'хабаровск'in column['keyword']:
        return 'Дальний Восток'
    return 'undefined'
geo['region'] = geo.apply(region, axis=1)    
geo.head()

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
5   одноклассники моя страница  19976138  undefined
6                         майл  15144673  undefined
7                        авито  14786593  undefined
8                   переводчик  14453469  undefined
9                       яндекс  13344734  undefined
10             сбербанк онлайн  10725673  undefined
11                        mail   7687204  undefined
12                        игры   6075762  undefined
13                     youtube   5729958  undefined
14      вконтакте моя страница   5971451  undefined

In [111]:
geo.region.value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64